.skillcontainer{
    max-width: 1480px;
    margin: 0 auto;


    h3{
        padding-top: 40px;
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        color: #6256CA;
    }

    p, li{
        margin: 10px 0 10px 0;
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 500;
    }

    p{
        margin-bottom: 50px;
    }
}

.websolutions,
.esolutions,
.mobilesolutions{
    display: flex;
    justify-content: space-between;
}

.websolutionscontent,
.mobilesolutionsontent,
.esolutionscontent{
    width: calc(50% - 80px);
    padding: 80px;

    .list{
        border-left: 2px solid ;
        
        li{
            list-style: none;
        }
    }
    
}

.websolutionsimage{
    background: url("../../assets/img/websolutions.svg") no-repeat fixed ;
    width: 40vw;
    height: 75vh;
    background-position: left;
    background-size:cover;
}
.mobilesolutionsimage{
    background: url("../../assets/img/mobile.svg") no-repeat fixed ;
    width: 40vw;
    height: 75vh;
    background-position: center;
    background-size: cover;
}
.esolutionsimage{
    background: url("../../assets/img/esolutions.svg") no-repeat fixed ;
    width: 40vw;
    height: 75vh;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:850px){
    .skillcontainer p,
    .skillcontainer li{
        font-size: 16px;
    }
    .skillcontainer h3{
        font-size: 30px;
    }
}
@media screen and (max-width:450px){
    .skillcontainer{
        height: fit-content;
    }
    .websolutions,
    .esolutions,
    .mobilesolutions{
    display: block;
    }
    .websolutionscontent,
    .mobilesolutionsontent,
    .esolutionscontent{
    width: 70vw;
    padding: 40px;

    .list{
        border-left: 2px solid ;
        
        li{
            list-style: none;
        }
    }
    
    }
    .skillcontainer p{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .websolutionsimage,
    .mobilesolutionsimage,
    .esolutionsimage{
        height: 50vh;
        width: 100vw;
    }

    .websolutionsimage,
    .mobilesolutionsimage,
    .esolutionsimage{
        display: none;
    }
}